.boton-form{
    padding: 0.75rem;
    vertical-align: top;
}

button{
    background-color: white;
    border: 0;
}

.table-panel h2{
    font-family: 'Bebas Neue', cursive;
}
.table-panel h3{
    font-family: 'Fjalla One', sans-serif;
}

.table-panel{
    height: 100vh;
}
